*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.nav-container a{
    color: #ffff;
}

.header-main{
    position: relative;
    height: 600px;
    background-color:black;
}

.principal-section-header{
    position: relative;
    color: #ffff;
}

.header-main::before{
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("imagenes/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}


.nav-container{
    height: 100px;
}

.ms-100{
    margin-left: 100px;
}

.me-100{
    margin-right: 100px;
}

.backglass{
    background-color: transparent;

}

.flex-separate{
    justify-content: space-between;
    align-items: center;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex.column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gap{
    gap: 10%;
}

.projects{
   
    justify-content: center;
    align-items: center;

    
}

.border-top{
    border-top: lightslategray solid 0.5px;
}

.border-right-left{
    border-right: solid lightslategrey 0.7px;
    border-left: solid lightslategray 0.7px;
    padding-left: 15%;
    padding-right: 15%;
}

.textdeco{
    font-weight: 200;
    font-size: small;
}

.mar-lr-pad-5{
    margin-left: 5%;
    margin-right: 5%;
}

.hei-350{
    height: 300px;
    width: 100%;
}

.title{
    font-size: xx-large;
    font-weight: 700;
    letter-spacing: 2px;
}

.sub-title{
    font-size: large;
    font-weight: 600;
    letter-spacing: 1px;
}

.icon{
    width: 100px;
    border-radius: 5px;
    background-color: rgba(177, 255, 255, 0.416);
    opacity: 0.8;
}

.icon-background{
    
}

#headerb{
    height: 400px;
}

h1{
    margin-bottom: 100px;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.inner {
    max-width: 75em;
    margin: 0 auto;
}

    



/* Flex */

.flex {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}

    




    




/* Image */

.image {
    border-radius: 0;
    border: 0;
    display: inline-block;
    position: relative;
}

    .image img {
        border-radius: 0;
        display: block;
    }



    .image.round img {
        border-radius: 100%;
    }

    .image.left {
        float: left;
        padding: 0 1.5em 1em 0;
        top: 0.25em;
    }

    .image.right {
        float: right;
        padding: 0 0 1em 1.5em;
        top: 0.25em;
    }

    .image.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
    }

        .image.fit img {
            width: 100%;
        }

    .image.main {
        display: block;
        margin: 0 0 3em 0;
        width: 100%;
    }

        .image.main img {
            width: 100%;
        }






/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px #29e8de;
    color: #888888 !important;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .75em;
    font-weight: 400;
    height: 3.75em;
    line-height: 3.85em;
    letter-spacing: 2px;
    padding: 0 4em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

button{
    margin-top: 35%;
    padding: 10px 35px 10px 35px;
    border-radius: 30px;
    background-color: transparent;
    border-color:violet;
    color: violet;
}

/*Aqui comienza el Footer */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],

textarea {

    background: #6cc091;
    border-radius: 14px;

    border: solid 2px #8dcca9;



    width: 97%;
}

    

/* Footer */

#footer {
    padding: 6em 0;
    background: #6cc091;
    color: #fff;
    text-align: center;
}

    #footer h3 {
        color: #FFF;
        margin-bottom: 2em !important;
    }

